header.header-pages {
	min-height: 100px;
	background:$color-primary;
	color: #ffffff;
	padding: 15px 0px 0px 0px;

	h3 {
		font-weight: 600;
		padding-top: 10px;
	}


	.btn-primary {
		box-shadow: 0px 1px 6px -1px #FF5722;
	}
	
	&.header-pages--home {
		background: transparent;
	}
	&.header-pages--activity {
		padding-top: 20px;
	}

	 
	@include respond-to(handhelds) {
		padding: 15px 0px;
		&.header-pages--home {
			background: #fff;
			padding: 0px;
		}
	}
}

header.header-section {
	padding-bottom: 20px;
	h2 {
		display: inline-block;
	}

	a.link {
		float: right;
	}
	p {
		margin-top: 15px;
	}
	@include respond-to(handhelds) {
		h2 {
			display: block;
		}
		a.link {
			padding: 10px 0px;
			display: inline-block;
			float: left;
		}
	}
}


.box-slider {
	position: relative;
	height: 350px;
	#content-slider {
		height: 350px;
		background: #000;
		img {
			margin: 0 auto;
			width: 100%;
			height: 400px;
			object-fit:cover;
		}
		position: relative;
		.slick-dots {
			width: 100%;
			text-align: center;
			right: 0px;
		}
	}

	@include respond-to(handhelds) {
		height: 30vh;
		#content-slider {
			height: 30vh;
			background: #000;
			img {
				height: 30vh;
				object-fit:cover;
			}
		}
	 }
}