header.header-profile {
	padding: 30px 0px;
	// background: #373f51;
	background: url('../images/icon.png')no-repeat $color-dark;
	background-size: auto 160px;
    background-position: 120px bottom;
	color: #fff;
	width: 100%;

	.container-small{
		margin-bottom: 0px;
		max-width: 705px;
		padding: 0px 15px;
	}

	.avatar {
		width: 115px;
		height: 115px;
		overflow: hidden;
		border-radius: 100%;
		border: 2px solid #fff;
		overflow: hidden;
		float: left;
	}

	.header-profile__content {
		padding-left: 165px;
		p {
			padding: 10px 0px;
			display: block;
		}

		.box-balance {
			padding-top: 12px;
			button {
				margin-top: 15px;
				i {
					padding-right: 10px;
				}
			}
			label {
				font-size: 11px;
				font-weight: 700;
				opacity: 0.5;
			}
			h2 {
				font-weight: 300;
				sub {
					padding-right: 10px;
					font-size: 75%;
				}
				font-size: 23px;
			}
		}
	}

	@include respond-to(handhelds) {
		.avatar {
			width: 50px;
			height: 50px;
		}

		.header-profile__content {
			padding-left: 0px;
			h1.title {
				font-size: 1.3em;
				padding-left: 80px;
			}

			.divider {
				transform: translateX(80px);
			}

			.box-balance {
				padding-top: 35px;

				#btnAddBalance {
					i {
						font-size: 1.4em;
					}
					span {
						display: none;
					}
				}
			}
		}
	}
}


.boxed-form-balance {
	background: #323844;
	max-height: 0px;
	overflow: hidden;
	transition:all 0.3s;
	form {
		padding: 30px 0px;
		color: #fff;
		.field {
			background: #dadcde;
		}
	}

	&.in-show {
		max-height: 400px;
	}

	.container-small {
		margin-bottom: 0px;
		max-width: 705px;
		padding: 0px 15px;
	}
}

.nav-profile {
	background: darken($color-dark, 2%);
	color: #ffffff;
	.container-small{
		margin-bottom: 0px;
		max-width: 705px;
		padding: 0px 15px;
	}
		
	ul {
		li {
			display: inline-block;
			a {
				padding: 12px 20px;
				transition:all 0.3s;
				cursor: pointer;
				display: block;
				color: #ffffff;

				i {
					padding-right: 5px;
				}
				
				&:hover {
					background: darken($color-dark, 4%);
				}

				&.link-active {
					background: #f7fafb;
					color: $color-dark;
				}
			}
		}
	}

	@include respond-to(handhelds) {
		width: 100vw;
		overflow: hidden;
		.container-small {
			padding: 0px;
		}

		ul {
			width: 100vw;
			display: flex;
			justify-content:space-between;
			li {
				display: block;
				a {
					text-align: center;
					span.txt {
						display: none;
					}
					i {
						padding: 0px;
					}
				}
			}
		}
	}
}

section.section-profile {
	min-height: 400px;
	padding-top: 30px;
	.container-small{
		margin-bottom: 0px;
		max-width: 705px;
		padding: 0px 15px;
	}

	header {
		padding-bottom: 30px;
	}

	.content-tab-profile {
		opacity: 0;
		max-height: 0px;
		overflow: hidden;
		transition: opacity 0.3s;
		&--active {
			opacity: 1;
			max-height: 2000px;
		}
	}

	.boxed {
		min-height: 20px;
	}

	.style-radio {
		padding-top: 6px;
	}
}




label.label {
	font-size: 11px;
	text-transform: uppercase;
	padding:3px 10px;
	background: $color-primary;
	color: #fff;
	margin-top: 5px;
	border-radius: 4px;

	&.label-error {
		background: #F44336;
	}

	&.label-finish {
		background: $color-dark;
	}

}

span.bullet-notif {
	display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #FF5722;
}

.list-notification {
	width: 100%;
 	li {
		width: 100%;
		position: relative;
 		padding-bottom: 15px;
		margin-bottom: 15px;
		border-bottom: 1px solid $color-soft;

		label {
			cursor: pointer;
		}
		
		.bullet-notif {
			position: absolute;
			left: -15px;
			top: 5px;
		}

		&.unread {
			font-weight: 900;
			cursor: pointer;
		}
		&.read {
			cursor: default;
			label {
				cursor: default;
			}
			span {
				display: none;
			}
		}


	}

	@include respond-to(handhelds) {
		li.unread {
				padding-left: 20px;

				.bullet-notif {
 					left: 0px;
 				}
			}
		}
}

.boxed-message {
	width: 100%;
 	li.list-message {
 		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid $color-soft;
		&.read {
			.head-message {
				font-weight: 500;
			}
		 span {
				display: none;
			}
		}
 		.head-message {
 			position: relative;
 			font-weight: 700;
 			padding: 10px 0px;
 			cursor: pointer;
 			label {
 				cursor: pointer;
 			}

 			i {
 				font-size: 24px;
 				color: $color-primary;
 				position: relative;
 				top:5px;
 				margin-left: 10px;
 			}
 			.bullet-notif {
				position: absolute;
				left: -15px;
				top: 23px;
			}

			&.active-message {
				i {
					transform: rotate(180deg); 
				}
			}
 		}
 	}

	@include respond-to(handhelds) {
		li.list-message {
			&.unread {
				padding-left: 20px;
			}
		}
	}

}

.box-message {
	display: none;
	.conversation {
		max-height:40vh;
		overflow: auto;
		.me {
			margin-bottom: 20px;
			float: left;
			p {
				color: #4f77d4;
				padding-right: 45px;
			}
		}

		.sender {
			position: relative;
			float: right;
			max-width: 80%;
			text-align: right;
			p {
				font-weight: 500;
				color: $color-dark;
				padding-bottom: 0px;
				padding-top: 20px;
				padding-right: 80px;
			}
			.avatar-sender {
				width: 45px;
				height: 45px;
				position: absolute;
				bottom: 0px;
				right: 0px;
				border-radius: 100%;
				overflow: hidden;

			}

		}
		
	}

	
	.default-form {
 		clear: both;
 		padding-top: 30px;

 		.box-textarea {
 			position: relative;
 			border: none;
 			span {
 				position: absolute;
 				right: 30px;
 				top: 12px;
 				font-size: 11px;
 				opacity: 0.5;
 				font-weight: 600;
 				display: block !important;
 			}
 			textarea {
 				height: 40px;
			    width: 100%;
			    outline: none;
			    border-radius: 4px;
			    background: #edf0f1;
			    border: 1px solid #c0c9cc;
			    padding: 10px 20px;
			    font-family: $font-base;

 			}
 		}

	}

	@include respond-to(handhelds) {
		.conversation {
			.sender { 
				max-width: 100%;
				padding-right: 55px;
	 			.avatar-sender {
					width: 40px;
					height: 40px;
	 				bottom: 0px;
					right: 0px;
	 
				}

			}
		}
	}
	
}

.connected-social-media {
	li {
		border-bottom: 1px solid #e5e9ff;
		padding-bottom: 15px;
		margin-bottom: 15px;
		overflow: hidden;
		button {
			float: right;
		}
		&:last-child {
			border-bottom: none;
			margin: 0;
			padding: 0;
		}
	}

	@include respond-to(handhelds) {
		font-size: 11px;
		li {
			display: flex;
		}
	}
}

.for-photo {
	text-align: center;
	div.avatar {
		margin: 0 auto;
	}
}

.upload-id {
	width: 100%;
	height: 250px;
    background: url('../images/back-u-id.png')no-repeat center center #ecf3f5;
	border: 1px dashed #25a9e0;
	border-radius: 3px;
	text-align: center;
	position: relative;
	input {
		z-index: 2;
	}
	img {
		max-width: 300px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform:translate(-50%, -50%);
		z-index: 1; 
	}
}

.profile-act {
	border-top: 1px solid #e5e9ff;
	padding-top: 15px;
	margin-top: 15px;
	button {
		float: right;
	}
}

.email-setting {
	.style-radio {
		float: right;
	}

	@include respond-to(handhelds) {
		.style-radio {
			float: left;
		}
	}
}

.dot {
	display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #FF5722;
    transform: translate(1px,-4px);
}